@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* general */
:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --line-height: 3rem;
}
/* body */
body{
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 20px;
    line-height: 1.5;
}
body {
    display: grid;
    grid-template-areas: 
        "head nav"
        "div div"
        "main main"
        "foot foot";
    grid-template-columns: 2fr auto;
    grid-template-rows: auto auto auto auto;
}
@media screen and (min-width: 25rem){
    body {
        grid-template-areas: 
            "head nav"
            "div div"
            "main main"
            "foot foot";
    }
}
body > nav{
    grid-area: nav;
    padding-left: 0;
    padding-right: 0;
}
nav > ul{
    padding-left: 0;
}
body > main{
    grid-area: main;
}
body > footer{
    grid-area: foot;
}
body > *{
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}
body{
    background-color: #D9D8D2; 
    background-image: url("../images/asphalt-light.png");
}

header > h1{
    font-size: 2rem;
}
header, footer{
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}
header h1, footer f1{
    margin: 0;
}
body > header{
    grid-area: head;
}
/* h1, h2, h3 */
h1, h2, h3{
    line-height: var(--line-height);
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 1.5rem;
    margin-bottom: 0;

}
h2{
    font-size: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
h3{
    font-size: 1rem;
    line-height: 1rem;
    font-style: italic;
}
/* div and span */
body > div{
    grid-area: div;
}
h3 > span{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* link */
a{
    text-decoration: none;
    color: #3f7ba6;
}
a:hover {
    color: #7C96A6;
}
/* paragraph and lists */
p, dl, ul{
    max-width: 50rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
dl{
    margin-top: 0;
    margin-bottom: 0;
}
body > nav ul li{
    display: inline;
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
    padding-right: var(--horizontal-space);
    line-height: 4rem;
    list-style-type: none;
}
/* image */
img{
    position: relative;
}
.img-block{
    display: flex;
    justify-content: center;
}
/* line */
.line{
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
    /* max-inline-size: 50em; */
}
.line-block{
    display: block;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}
/* about */
body#about img{
    height: 15rem;
}
.p-block{
    display: flex;
    justify-content: center;
}

/* portfolio */
/* body#portfolio ul#portfolioItems{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
} */

body#portfolio ul#portfolioItem{
    max-width: 100%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-top: 0;
    column-gap: 2rem;
}
body#portfolio img{
    max-height: 18rem;
}

@media screen and (max-width: 800px) {
    body#portfolio ul#portfolioItem{
        max-width: 100%;
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        padding-top: 0;
        
    }
    main{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
@media screen and (max-width: 400px) {
    a{
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
    body#portfolio img{
        max-height: 10em;
    }
    body {
        padding-left: 5px;
        padding-right: 5px;
        grid-template-areas: 
            "head head"
            "nav nav"
            "div div"
            "main main"
            "foot foot";
    }
    main{
        padding-left: 20px;
        padding-right: 20px;
    }
    ul{
        padding-left: 0;
        
    }
    .nav-list{
        padding-left: 1.1em;
        padding-right: 1.1em;
    }
    
}

.portfolio-block{
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
}

/* resume */
body#resume p, h3{
    padding: 0;
    margin: 0;
}
body#resume h3{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
body#resume h2{
    margin-top: 1rem;
}
.parent-element{
    page-break-inside: avoid;
    break-inside: avoid;
}
.second-column{
    padding-top: 20px;
}
